[core]
  editor = nvim
[user]
	name = Gustavo Schneider
	email = gustavo.schneider.dev@gmail.com
[color]
	ui = auto
[alias]
	s = status -s
  l = log --pretty=format:'%C(yellow)%h %C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
  lg = log --graph --decorate --all --pretty=format:'%C(yellow)%h %C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
  pl = pull
  ps = push
[push]
	followTags = true
[init]
	defaultBranch = main
